<mat-toolbar color="primary" class="navbar">
    <div >
        <div style="font-family:Arial, Helvetica, sans-serif; font-weight:bolder; margin-left: 25%;">Wadidegla Products</div>
        
    </div>
    <div>
          <a  [routerLink]="['Products']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" >Products</a>
          <a  [routerLink]="['Categories']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Categories</a>
         
    </div>
</mat-toolbar>
