/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.splash-screen {
    height: 100%;
    background-color: rgb(230, 234, 236);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover; 
}
html,
body,
app-root {
    height: 100%;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-error{
    color: red;
}

.custome-mat-card .mat-dialog-container{
    padding: 0;
}
ul, li {
    list-style-type: none;
  }
  ul{
      padding-left: 15px ;
      display: block;
  }
