
<mat-card>
    <mat-card-title>
      {{title}}
    </mat-card-title>
    <form  #f="ngForm"  >
        <mat-card-content >
        
            <div  class="row justify-content-md-center form-group" style=" padding: 5px; margin:4px;">
                
                <input class="form-control" required [class.text-error]="(nameInput.invalid&&nameInput.touched)"   [(ngModel)]="categoryAttr.Name" #nameInput="ngModel" name="name" type="text"  placeholder="name">
                <div *ngIf="nameInput.invalid && nameInput.touched" ><small class="text-error"> Field is Required</small></div> 

            </div>
            <div class="row justify-content-md-center form-group"style=" padding: 5px; margin:4px;">
                <label for="type">Attribute Type</label>
                <select [class.text-error]="(typeInput.invalid&&typeInput.touched)" class="form-control" name="type" required  [(ngModel)]="categoryAttr.Type" #typeInput="ngModel"  type="text"  placeholder="Type" >
                    <option value="Text">Text</option>
                    <option value="Yes/No">Yes/No</option>
                    <option value="Options">Options</option>
                    <option value="Multiline">Multiline</option>
                </select>
            </div>

        
    </mat-card-content>

    <mat-card-actions align="end">

        <mat-spinner *ngIf="Proccessing" diameter="25" style="margin: 5px; text-align: center;"></mat-spinner>
        <button *ngIf="!Proccessing" mat-flat-button color="primary" type="submit"  (click)="save()" [disabled]="!f.valid"
         style="margin: 5px;"  >
        Add
        </button>
        <button (click)="cancel()"  mat-flat-button color="warn" style="margin: 5px; ">
        Cancel</button>
    </mat-card-actions>
    </form>
</mat-card>
